@charset "UTF-8";

/* Navigation and lists styles */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 800px;
  overflow: hidden;
  background-color: #f1f1f1;
}

 li {
 float: left;
 border-right: 1px solid #fff;
 }
 
 li a {
 display: block;
 color: #000;
 padding: 10px 20px;
 text-decoration: none;
}

li a:hover {
background-color: #555;
color: #000;
}

/* Form Style */
form {
	border: 3px solid #f1f1f1;
}

/* Style for split navigation bars*/
.topnav {
	background-color: #f1f1f1;
	overflow: hidden;
}

.topnav a {
	float: left;
	color: #000;
	text-align: center;
	padding: 10px 20px;
	text-decoration: none;
	border-right: 1px solid #fff;
}

.topnav a.split {
	float: right;
	background-color: #f1f1f1;
	color: #000;
}

.topnav a:hover {
	background-color: #555;
	color: #000;
}

/* Text input fields */
input[type=text], input[type=password] {
	width: 90%;
	padding: 10px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	box-shadow: 0 0 10px 4px rgba(0,0,0,0.06)
}

/* Buttons */
button {
	background-color: #f1f1f1;
	color: #000;
	padding: 10px 20px;
	margin: 8px;
	border: none;
	cursor: pointer;
	width: 100%;
}

button:hover {
	color: #00f;
}

/* Containers */
.container {
	padding: 20px;
}